.wrapperCubeSlider {
    display: grid;
    grid-template-columns: 64% 36%;
    place-items: center;
    gap: 2rem;
    padding: 3rem 6rem;
    overflow: visible;
}

.textSlider {
    position: relative;
    width: 100%;
    height: 100%;
}

.textSlider .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    color: #edf4fd;
    background-color: #1e2537;
    padding: 1rem 2rem;
    user-select: none;
    border: 2px solid #344b86;
    border-radius: .5rem;
    box-shadow: inset 1rem 1rem 1rem rgba(0, 0, 0, 0.5),
        inset -.75rem -1rem .75rem rgba(0, 0, 0, 0.25);
}

.cubeSlider {
    position: relative;
    max-width: 100%;
    width: 600px;
    aspect-ratio: 1/1;
    padding-right: 1rem;
}

.cubeSlider .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #344b86;
    border-radius: .5rem;
    background: linear-gradient(to bottom, #1e2537, #212d49);
    box-shadow: inset 1rem 1rem 1rem rgba(0, 0, 0, 0.5),
        inset -.75rem -1rem .75rem rgba(0, 0, 0, 0.25);
    user-select: none;
}

.cubeSlider .swiper-slide img {
    width: 92%;
    height: 92%;
    border: 1px solid #344b86;
    border-radius: .75rem;
    object-fit: cover;
    object-position: 50% 20%;
    filter: grayscale(30%);
}

@media (max-width: 1440px) {
    .textSlider .swiper-slide {
        padding-left: 60px;
    }
}

@media (max-width: 1100px) {
    .textSlider .swiper-slide {
        padding-left: 0px;
    }
}

@media (max-width: 900px) {
    .wrapperCubeSlider {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "cubeSlider"
            "textSlider";
        gap: 1.5rem;
    }
    .cubeSlider {
        grid-area: cubeSlider;
        width: 90%;
        padding-right: 0;
    }
    .textSlider {
        grid-area: textSlider;
    }
    .textSlider .swiper-slide {
        justify-content: flex-start;
        margin-top: 1.5rem;
    }
}

@media (max-width: 520px) {
    .wrapperCubeSlider {
        grid-template-rows: 3fr 5fr;
        padding: 1rem 2rem;
    }
    .cubeSlider {
        width: 85%;
    }
    .textSlider .swiper-slide {
        margin-top: 0;
    }
}