.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden; /* Hide overflow from the video */
}

.videoWrapper {
    position: absolute; /* Confine the video to the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevent video from interfering with interactions */
    z-index: 0; /* Push video behind content */
}

.videoBackground {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure video covers the entire container */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title, .description {
    color: white;
    z-index: 1;
    background-color: #344b8690;
    text-shadow: 1px 1px 4px #000;
}

.title {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.5rem;
}