.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modalCardWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -1rem;
}

.modalCard {
    display: flex;
    align-items: flex-start;
    background: #1a1a1a;
    padding: 10px 16px 10px 16px;
    border-radius: .5rem;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid #344b86d7;
}

.closeModal {
    padding: 0;
    font-size: 1.6rem;
    background-color: transparent;
    margin-left: .5rem;
    color: #20b8b6;
    margin-right: -2rem;
    margin-bottom: -1.5rem;
}

.closeModal:hover {
    color: #344b86;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    /* Hide overflow from the video */
    padding: 2rem;
}

.videoWrapper {
    position: absolute;
    /* Confine the video to the container */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* Prevent video from interfering with interactions */
    z-index: 0;
    /* Push video behind content */
}

.videoBackground {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensure video covers the entire container */
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    width: 100%;
    z-index: 1;
}

.top {
    display: flex;
    justify-content: center;
}

.langIcon {
    font-size: 1.5rem;
    margin-right: .5rem;
    filter: drop-shadow(2px 3px 2px #000000);
}

.center {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.left,
.right {
    width: 16%;
}

.left {
    display: flex;
    flex-grow: 1;
}

.slogan {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
}

.right {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    align-items: flex-end;
    padding-right: 4rem;
}

.changeLanguage {
    display: flex;
    border-radius: 2px;
    background-color: #344b86d7;
    text-shadow: 1px 1px 4px #000;
    clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% 100%, calc(100% - 8px) 100%, 8px 100%, 0 100%, 0 0);
    transition: all 0.2s ease-in-out;
    animation: shimmerEffect 1.5s infinite;
}

.changeLanguage:hover {
    background-color: #344b86f9;
}

.buttons {
    display: flex;
    flex-flow: column;
    gap: .5rem;
}

.button {
    display: flex;
    text-align: left;
    border-radius: 2px;
    background-color: #344b86d7;
    font-size: 1.5rem;
    padding: .4em 1.6em;
    text-shadow: 1px 1px 4px #000;
    clip-path: polygon(8px 0%, calc(100% - 8px) 0%, 100% 8px, 100% 100%, calc(100% - 8px) 100%, 8px 100%, 0 100%, 0 0);
    transition: all 0.2s ease-in-out;
    animation: shimmerEffect 1.5s infinite;
    
}

.button:hover {
    transform: translate(-0.25rem, -0.25rem);
    background-color: #344b86f9;
}

.bottom {
    height: 46px;
}

.title,
.description {
    color: white;
    background-color: #344b8690;
    text-shadow: 1px 1px 4px #000;
    text-align: center;
}

.title h1,
.description p {
    filter: drop-shadow(2px 3px 2px #000000);
}

.title {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.4rem;
}

.buttonIcon {
    font-size: 2.1rem;
    margin: 0 .3rem -.4rem;
    filter: drop-shadow(2px 3px 2px #000000);
}

@keyframes shimmerEffect {
    0% {
        background-position: -300px 0;
    }

    100% {
        background-position: 300px 0;
    }
}

@media only screen and (max-width: 1600px) {
    .button {
        font-size: 1.3rem;
        padding: .4em 1.2em;
    }
    .title {
        font-size: 3.4rem;
    }
    .description {
        font-size: 1.3rem;
    }
}
