.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 4 equal-width columns */
    justify-items: stretch; /* Ensures buttons stretch to fill their column */
    gap: .5rem;
}

.title {
    font-size: 1.6rem;
    padding-bottom: .5rem;
}

.default {
    border: 1px solid #ffffff7e;
}

.default:hover {
    border: 1px solid #20b8b6;
}

.active {
    border: 2px solid #20b8b6;
    background-color: transparent;
}